---
permalink: "credits/"
title: "Crédits"
---

{% extends "../../_includes/_layouts/base.njk" %}

{% block title %}
    Credits
{% endblock %}

{% block body %}
    <main class="main">
        <header class="header">
            <h1>{{ title }}</h1>
            <p class="paragraph -jumbo">
                {{ credits.introduction.story }}
                <b>
                    {{ credits.introduction.thanks }}
                </b>
            </p>
        </header>
        <article class="article">
            <h2>{{ credits.typography.displayName }}</h2>
            <p class="paragraph">{{ credits.typography.introduction }}</p>

            <h3>{{ credits.typography.serif.name }}</h3>
            {% for family in credits.typography.serif.story %}
                <p class="paragraph">{{ family }}</p>
            {% endfor %}

            <h3>{{ credits.typography.sans.name }}</h3>
            {% for family in credits.typography.sans.story %}
                <p class="paragraph">{{ family }}</p>
            {% endfor %}
        </article>
    </main>
{% endblock %}