.article {
  display: flex;
  flex-flow: column;
  max-width: $text-width;
  margin-bottom: $spacing-margin;
  &__list {
    @extend .section__listing--column;
    width: 100%;
  }
  &__element {
    @include transition();
    padding: $spacing-padding;
    &:hover {
      @include transition();
      background-color: $grey-2;
    }
  }
  &__category {
    color: $grey-7;
    font-weight: 400;
    font-size: ms(1);
  }
  &__title {
    &__link {
      color: $grey-10;
      font-weight: 400;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__date {
    color: $grey-7;
    margin-bottom: 0;
  }
}