.facts {
  counter-reset: facts;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0 auto;
  padding-left: 0;
  &__text {
    font: {
      family: $font-text;
      weight: 300;
      size: ms(0);
    }
    display: inline-flex;
    align-items: flex-start;
    margin-bottom: $spacing-margin;
    &:before {
      @extend .bold;
      content: counter(facts);
      counter-increment: facts;
      font: {
        family: $font-text;
        weight: 700;
        size: ms(5);
      }
      color: $colour-1;
      display: inline-flex;
      margin-right: $spacing-margin;
    }
  }
}

.fact {
  &__additional-text {
    color: $grey-7;
  }
}