.footer {
  width: 100%;
  display: flex;
  padding: $spacing-padding/2 $spacing-padding;
  &__site {
    @extend .footer;
    //width: 100%;
    align-content: center;
  }
  &__container {
    @extend .footer;
    justify-content: space-between;
    @include breakpoint(sm) {
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}