.hero {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start;
  // height: 100vh;
  padding: 0 $spacing-xlarge;
  @include medium-display {
    padding: 0 $spacing-large;
  }
  @include small-display {
    padding: 0 $spacing-medium;
  }

  &__greeting {
    font-weight: 700;
    margin-bottom: $spacing-medium;
    @include very-very-large-display {
      font-size: ms(7);
    }
    @include very-large-display {
      font-size: ms(6);
    }
    @include large-display {
      font-size: ms(5);
    }
    @include medium-display {
      font-size: ms(4);
    }
  }

  &__introduction {
    color: $colour-coldOne;
    font-variation-settings: 'wght' 300, 'SOFT' 40;
    letter-spacing: -0.1rem;
    line-height: $spacing-display-line-height;
    // color: $cold-alternate-1;
    margin-bottom: $spacing-medium;
    @include very-very-large-display {
      font-size: ms(6);
    }
    @include very-large-display {
      font-size: ms(5);
    }
    @include large-display {
      font-size: ms(4);
    }
    @include medium-display {
      font-size: ms(3);
    }
  }

  &__description {
    font-variation-settings: 'wght' 250;
    line-height: $spacing-display-line-height;
    max-width: $block-width;
    margin-bottom: $spacing-large;
    @include very-very-large-display {
      font-size: ms(5);
    }
    @include very-large-display {
      font-size: ms(4);
    }
    @include large-display {
      font-size: ms(3);
    }
    @include medium-display {
      font-size: ms(3);
    }
    @include small-display {
      font-size: ms(2);
    }
  }
}