.hero {
  height: calc(100vh - $spacing-large - 28px);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start;
  padding: 0 $spacing-xlarge;
  margin-top: calc($spacing-large + 28px);
  @include medium-display {
    padding: 0 $spacing-large;
  }
  @include small-display {
    padding: 0 $spacing-medium;
  }

  &__greeting {
    @extend h3;
  }

  &__introduction {
    @extend .a-display;
    @extend .-fat;
  }

  &__description {
    @extend h3;
  }
}