.homepage {
  &__intro { 
    //@extend .section;
    display: flex;
    padding: $spacing-padding $spacing-padding*2;
    width: 100%;
    // max-width: $blocks-width;
    flex-flow: column;
    .intro {
      &__nickname {
        color: $colour-main;
        font-size: ms(5);
        font-style: italic;
        font-weight: 500;
        margin-bottom: $spacing-margin/2;
      }
      &__name {
        font-size: ms(7);
      }
      &__text {
        font-style: italic;
        font-size: ms(1);
        color: $grey-7;
        margin-bottom: $spacing-margin*3;
      }
    }
  }
}