.link {
  font-size: ms(1);
  display: inline-flex;
  text-decoration: none;
  font-feature-settings: $font-sans-alternates;
  margin-bottom: $spacing-small;

  &Social {
    @extend .link;
    font-size: ms(1);
  }
}
//   &--in {
//     @extend .link;

//     &::after {
//       content: "\f061";
//       font-family: $font-icon-solid;
//       font-size: inherit;
//       text-decoration: none;
//       margin-left: $spacing-small;
//     }
//   }

//   &--out {
//     @extend .link;

//     &::after {
//       content: "\f35d";
//       font-family: $font-icon-solid;
//       font-size: inherit;
//       text-decoration: none;
//       margin-left: $spacing-small;
//     }
//   }
// }