.navigation {
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: $spacing-medium $spacing-xlarge;

  &__link {
    font-size: ms(1);
    text-decoration: none;
    font-feature-settings: $font-sans-alternates;
    @include light-theme {
      color: $grey-1000;
    }
    @include dark-theme {
      color: $grey-100;
    }
  }

  &.-site {
    @extend .navigation;
    @include light-theme {
      background-color: $colour-warmOne-100;
      border-bottom: solid 1px $grey-1000;
    }
    @include dark-theme {
      background-color: $colour-coldOne-1000;
      border-bottom: solid 1px $grey-100;
    }
  }

  &__logo {

    &__link {
      @extend .navigation__link;
      font-family: $font-serif;
      font-style: italic;
      font-size: ms(2);
      font-variation-settings:
        $font-serif-soft,
        'wght' 450;
    }
  }

  &__menu {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
    @include small-display {
      display: none;
    }

    &__link {
      @extend .navigation__link;

      &:not(:first-of-type) {
        margin-left: $spacing-large;
      }
    }
  }
  @include medium-display {
    padding: $spacing-medium $spacing-large;
  }
  @include medium-display {
    padding: $spacing-medium $spacing-large;
  }
  @include small-display {
    padding: $spacing-medium;
  }
}