.resume {
  max-width: 60rem;
  &__activities {
    display: flex;
    flex-direction: column;
    background-color: $grey-1;
    padding: $spacing-padding*2;
    margin-bottom: $spacing-margin*3;
    @include breakpoint(sm) {
      margin-bottom: $spacing-margin;
    }
  }
  &__activity {
    margin-bottom: $spacing-margin;
    &::marker {
      padding-right: $spacing-padding;
      display: inline-block;
      border: solid 3px black;
    }
  }
  &__list {
    font-family: $font-text;
    font-size: ms(0);
    list-style-position: outside;
    padding-left: $spacing-padding*3;
  }
  &__job-title {
    @extend .semibold;
    font-size: ms(0);
  }
  &__place {
    @extend .italic;
    color: $grey-9;
  }
  &__date {
    font-family: $font-text;
    font-size: ms(-1);
    font-weight: 700;
    color: $grey-7;
  }
  &__facts {
    @extend .section__columns--one;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    width: 100%;
    //padding: 0 $spacing-padding;  
  }
}