.section {

  &.-columns {
    @extend .section;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-end;
    @include medium-display {
      flex-flow: column;
    }

    &__column {
      margin-bottom: $spacing-medium;
    }
  }

  &.-rows {

    &__row {
      display: flex;
      flex-flow: column nowrap;
      margin-bottom: $spacing-large;
    }
  }

  /* That's Typography only */

  &__context {
    font-size: ms(2);
    font-variation-settings: 'wght' 700;
    margin-bottom: $spacing-medium;
  }
}