.section {
  margin-bottom: $spacing-large;

  &.-columns {
    @extend .section;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    @include medium-display {
      flex-flow: column;
    }

    &__column {
      margin-bottom: $spacing-medium;
    }
  }

  &.-rows {

    &__row {
      display: flex;
      flex-flow: column nowrap;
      margin-bottom: $spacing-large;
    }

    @include medium-display {
      flex-flow: column;
    }
  }

  &.-align-items-end {
    align-items: flex-end;

    @include small-display {
      align-items: flex-start;
    }
  }
}