<footer class="footer">
    <div class="footer__top">
        <p class="paragraph">
            v. 0.1
        </p>
        <div class="footer__navigation__menu">
            {% include "./social-links.njk" %}
        </div>
    </div>
</footer>