<nav class="navigation--site" role="navigation">
    <div class="navigation__logo">
        <a class="navigation__logo__link">
            Pali.
        </a>
    </div>
    <div class="navigation__menu">
        {# <a class="navigation__menu__link" href="/now">Now</a> #}
        <a class="navigation__menu__link" href="/about">À propos</a>
    </div>
</nav>