<nav class="navigation -site -day" role="navigation">
    <div class="navigationLogo">
        <a href="/" class="navigationLogoLink">
            Pali.
        </a>
    </div>
    <div class="navigationMenu">
        {# <a class="navigationMenuLink" href="/now">Now</a> #}
     </div>
</nav>