*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
}

::selection {
  @include light-theme {
    background-color: $colour-main-900;
    color: $colour-main-100;
  }
  @include dark-theme {
    background-color: $colour-main-100;
    color: $colour-main-900;
  }
}

body {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
  justify-content: space-between;
  font-family: $font-sans;
  font-size: 1em;
  font-kerning: normal;
  @include light-theme {
    color: $grey-900;
    background-color: $colour-warmOne-100;
  }
  @include dark-theme {
    color: $grey-200;
    background-color: $colour-coldOne-1000;
  }
}