/*
** Importing typography
*/

@font-face {
  font-family: "Fraunces";
  font-style: normal;
  src: url('../fonts/fraunces/Fraunces[SOFT,WONK,opsz,wght].woff2');
}

@font-face {
  font-family: "Fraunces";
  font-style: italic;
  src: url('../fonts/fraunces/Fraunces-Italic[SOFT,WONK,opsz,wght].woff2');
}

@font-face {
  font-family: "Work Sans";
  font-style: normal;
  src: url('../fonts/work-sans/WorkSans[wght].ttf');
}

@font-face {
  font-family: "Work Sans";
  font-style: italic;
  src: url('../fonts/work-sans/WorkSans-Italic[wght].ttf');
}


/*
** Defining typographic variables
*/

h1,
h2 {
  line-height: $spacing-display-line-height;
  letter-spacing: $spacing-letter-spacing-title;
}

h1 {
  font-family: $font-serif;
  font-variation-settings:
    'wght' 800,
    'SOFT' 20,
    'WONK' 1,
    'opsz' 80;
  margin-bottom: $spacing-medium;
  @include very-very-large-display {
    font-size: ms(7);
  }

  @include very-large-display {
    font-size: ms(6);
  }

  @include large-display {
    font-size: ms(6);
  }

  @include medium-display {
    font-size: ms(6);
  }

  @include small-display {
    font-size: ms(4);
  }
}

h2 {
  font-family: $font-serif;
  font-variation-settings:
    'wght' 600,
    'SOFT' 25,
    'WONK' 1,
    'opsz' 80;
  margin-bottom: $spacing-medium;
  @include very-very-large-display {
    font-size: ms(6);
  }

  @include very-large-display {
    font-size: ms(5);
  }

  @include large-display {
    font-size: ms(5);
  }

  @include medium-display {
    font-size: ms(4);
  }

  @include small-display {
    font-size: ms(3);
  }
}

h3 {
  font-family: $font-sans;
  font-size: ms(3);
  font-variation-settings: 'wght' 600;
  margin-bottom: $spacing-large;
  @include small-display {
    font-size: ms(2);
  }
}

h4 {
  font-family: $font-sans;
  font-size: ms(2);
  margin-bottom: $spacing-medium;
  @include small-display {
    font-size: ms(1);
  }
}

p {
  font: {
    family: $font-sans;
    weight: 400;
    size: ms(1);
    variation-settings: 'wght' 350;
  }
  margin-bottom: $spacing-small;
}

.paragraph {
  @extend p;

  &--lead {
    font-size: ms(1);
    font-variation-settings: 'wght' 600;
    font-style: italic;
  }

  &--description {
    color: $grey-700;
    max-width: 70ch;
  }

  &--jumbo {
    color: $grey-800;
    font-size: ms(2);
    font-weight: 300;
    max-width: $text-width;
    margin-bottom: $spacing-medium;
  }
}

.user-interactions {
  @extend p;
  font-size: ms(1);
}

.section-title {
  @extend p;
  font-size: ms(2);
  font-variation-settings: 'wght' 500;
}

.message {
  &--success {
    font-variation-settings: 'wgth' 400;
    font-size: ms(1);
    color: $colour-coldOne-300;
  }
}

/* ----- Giving all labor elements the same line-height and letter spacing nomatter the context ----- */

a,
b,
p,
em,
strong,
span,
ul,
li {
  color: $grey-900;
  font-family: $font-sans;
  line-height: $spacing-text-line-height;
  letter-spacing: $spacing-letter-spacing-text;
}

.italic,
i,
em {
  font-style: italic;
}