/*
** Importing typography
*/

@font-face {
  font-family: "Fraunces";
  font-style: normal;
  src: url('./fonts/fraunces/Fraunces[SOFT,WONK,opsz,wght].woff2');
}

@font-face {
  font-family: "Fraunces";
  font-style: italic;
  src: url('./fonts/fraunces/Fraunces-Italic[SOFT,WONK,opsz,wght].woff2');
}

@font-face {
  font-family: "Space Grotesk";
  font-style: normal;
  src: url('./fonts/space-grotesk/SpaceGrotesk[wght].ttf');
}

@font-face {
  font-family: "Epilogue";
  font-style: normal;
  src: url('./fonts/epilogue/Epilogue[wght].woff2');
}
@font-face {
  font-family: "Epilogue";
  font-style: italic;
  src: url('./fonts/epilogue/Epilogue-Italic[wght].woff2');
}


/*
** Defining typographic variables
*/

h1,
h2 {
  line-height: $spacing-display-line-height;
  letter-spacing: $spacing-letter-spacing-title;
}

h1 {
  font-family: $font-serif;
  font-variation-settings:
    'wght' 700,
    'SOFT' 10,
    'WONK' 1,
    'opsz' 80;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin-bottom: $spacing-large;
  @include very-very-large-display {
    font-size: ms(8);
  }

  @include very-large-display {
    font-size: ms(7);
  }

  @include large-display {
    font-size: ms(6);
  }

  @include medium-display {
    font-size: ms(5);
  }
}

h2 {
  font-family: $font-serif;
  font-variation-settings:
    $font-serif-sharp,
    'wght' 600,
    'WONK' 1,
    'opsz' 80;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin-bottom: $spacing-medium;
  @include very-very-large-display {
    font-size: ms(7);
  }

  @include very-large-display {
    font-size: ms(6);
  }

  @include large-display {
    font-size: ms(5);
  }

  @include medium-display {
    font-size: ms(4);
  }
}

h3 {
  font-family: $font-serif;
  font-variation-settings:
    $font-serif-soft,
    'wght' 350,
    'opsz' 80,
    'WONK' 0;
  font-style: italic;
  margin-bottom: $spacing-medium;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  @include very-very-large-display {
    font-size: ms(6);
  }
  @include very-large-display {
    font-size: ms(5);
  }
  @include large-display {
    font-size: ms(4);
  }
  @include medium-display {
    font-size: ms(3);
  }
}

h4 {
  font-family: $font-sans;
  font-size: ms(2);
  margin-bottom: $spacing-medium;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  @include very-very-large-display {
    font-size: ms(6);
  }
  @include very-large-display {
    font-size: ms(5);
  }
  @include large-display {
    font-size: ms(4);
  }
  @include medium-display {
    font-size: ms(3);
  }
  @include small-display {
    font-size: ms(2);
  }
}

.a-display {
  font-family: $font-serif;
  letter-spacing: $spacing-letter-spacing-display;
  line-height: $spacing-display-line-height;
  margin-bottom: $spacing-large;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  @include very-very-large-display {
    font-size: ms(10);
  }
  @include very-large-display {
    font-size: ms(9);
  }
  @include large-display {
    font-size: ms(8);
  }
  @include medium-display {
    font-size: ms(7);
  }
  @include small-display {
    font-size: ms(6);
  }

  &.-fat {
    font-variation-settings:
      $font-serif-sharp,
      'opsz' 144,
      'WONK' 1,
      'wght' 900;
  }
}

p,
.paragraph {
  font: {
    family: $font-sans;
    size: ms(1);
  }
  letter-spacing: $spacing-letter-spacing-text;
  line-height: $spacing-body-line-height;
  max-width: 64ch;
  margin-bottom: $spacing-medium;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: grayscale;
  & + h2,
  & + h3 {
    margin-top: $spacing-large;
  }
  @include light-theme {
    color: $grey-900;
    font-variation-settings: 'wght' 400;
  }

  @include dark-theme {
    color: $grey-200;
    font-variation-settings: 'wght' 410;
  }
  @include small-display {
    font-size: ms(0);
  }

  &.-jumbo {
    font-variation-settings: 'wght' 300;
    line-height: $spacing-largeText-line-height;
    max-width: 48ch;
    margin-bottom: $spacing-medium;
    @include very-very-large-display {
      font-size: ms(3);
    }
    @include very-large-display {
      font-size: ms(3);
    }
    
    @include large-display {
      font-size: ms(2);
    }
    @include small-display {
      font-size: ms(1);
    }
  }
}

.context {
  &.-subtitle {
    font-family: $font-sans;
    font-size: ms(3);
    font-variation-settings: 'wght' 700;
    margin-bottom: $spacing-large;
  }
  
}

/* ----- Normalizing typography in paragraphs ----- */
b,
i,
p,
em,
span {
  font-family: inherit;
  line-height: inherit;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

i,
em,
.italic {
  color: inherit;
  font-family: inherit;
  font-style: italic;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

b,
strong,
.bold
{
  color: inherit;
  font-family: inherit;
  font-variation-settings: 'wght' 600;
}