/* ----- Colours ----- */
$colour-main-1000: #250911;
$colour-main-900: #491221;
$colour-main-700: #6E1C32;
$colour-main: #942543;
$colour-main-300: #CE3B62;
$colour-main-200: #DE7C97;
$colour-main-100: #EFBECB;

$colour-warmOne-1000: #3B2E10;
$colour-warmOne-900: #765C20;
$colour-warmOne-700: #B18B31;
$colour-warmOne: #D2AE5B;
$colour-warmOne-300: #DDC284;
$colour-warmOne-200: #E9D7AD;
$colour-warmOne-100: #F4EBD6;

$colour-coldOne-1000: #13170C;
$colour-coldOne-900: #272E17;
$colour-coldOne-700: #3A4523;
$colour-coldOne: #4F5D2F;
$colour-coldOne-300: #83994D;
$colour-coldOne-200: #AEC183;
$colour-coldOne-100: #D7E0C1;

$colour-coldTwo-1000: #040718;
$colour-coldTwo-900: #080E30;
$colour-coldTwo-700: #0C1548;
$colour-coldTwo: #101C5E;
$colour-coldTwo-300: #1F35B5;
$colour-coldTwo-200: #556AE2;
$colour-coldTwo-100: #AAB5F1;

$grey-100: #F4F4F4;
$grey-200: #DFDFDF;
$grey-300: #CACACA;
$grey-400: #B5B5B5;
$grey-500: #A0A0A0;
$grey-600: #737373;
$grey-700: #5A5A5A;
$grey-800: #404040;
$grey-900: #272727;
$grey-1000: #0D0D0D;

/* ----- Typography ----- */

$font-serif: "Fraunces", serif;
$font-sans: "Epilogue", sans-serif;
// $font-mono : "Recursive", monospace;
$modularscale: (
  base: 16px,
  ratio: 1.25
);

$font-serif-sharp: 'SOFT' 0;
$font-serif-soft: 'SOFT' 50;
$font-serif-superSoft: 'SOFT' 100;

$font-sans-alternates: 'ss02', 'ss03', 'ss04';

$text-width: 72ch;
$block-width: 96rem !default;

/* ----- Spacing ----- */
$spacing-kerning: normal;
$spacing-letter-spacing-display: -0.15rem;
$spacing-letter-spacing-title: 0.15rem;
$spacing-letter-spacing-text: 0.05rem;
$spacing-display-line-height: 1.16;
$spacing-largeText-line-height: 1.5;
$spacing-body-line-height: 1.8;
$spacing-padding: 2rem;
$spacing-margin: 2rem;

$spacing-xsmall: 0.5rem;
$spacing-small: 1rem;
$spacing-medium: 2rem;
$spacing-large: 4rem;
$spacing-xlarge: 8rem;

/* ----- Screen sizes ----- */
$screen-size-xxl: 160rem;
$screen-size-xl: 120rem;
$screen-size-lg: 90rem;
$screen-size-md: 64rem;
$screen-size-sm: 48rem;