---
permalink: "about/"
title: "À propos"
---
{% extends "../../_includes/_layouts/base.njk" %}

{% block title %}
    /about
{% endblock %}

{% block body %}
    <main class="main">
        <header class="header">
            <p class="header__context">{{ title }}</p>
            <h2 class="header__name">
                <span>{{ about.me.name.firstname }}</span>
                <span>{{ about.me.name.lastname.prefix }} {{ about.me.name.lastname.suffix }}</span>
            </h2>
            <p class="header__description">
               {{ about.me.position }}
            </p>
            <p>École :
                <a href="links.school" rel="noopener">{{ about.me.school }}</a>
            </p>
        </header>


        <article class="article--biography">
            <p class="paragraph--lead">{{ about.story.simplyPut}} </p>
            {% for story in about.story.completeStory %}
            <p> {{ story }} </p>
            {% endfor %}
        </article>

        <section class="section--about">
            <h4>Mes compétences</h4>
            <div class="section--about__columns">
                {% for domain, skillset in about.skills %}
                <div class="section__column">
                    <p class="section-title">{{ domain }} </p>
                    {% for skill in skillset %}
                        <p>{{ skill }}</p>
                    {% endfor %}
                </div>
                {% endfor %}

            </div>
            <article class="article--biography">
                <p>
                    {{ about.story.skillsetLearning }}
                </p>
            </article>
        </section>
    </main>
{% endblock %}