---
permalink: "/"
---

{% extends "./_includes/_layouts/base.njk" %}

{% block body %}
    <section class="hero">
      <h1 class="hero__greeting">
        {{ about.hero.greetings }}
      </h1>

      <h2 class="hero__introduction">
        {{ about.hero.introduction }}
      </h2>

      <p class="hero__description">
        {{ about.hero.description }}
      </p>
    </section>
{% endblock %}
